/* ---------- Content ---------- */

.content__header {
  position: relative;
}

h1 {
  padding: 1.5rem 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 768px) {
	h1 {
		padding: 3rem 0;
	}
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 145px);
  grid-gap: 10px;
  width: 300px;
  margin: 0 auto 20px auto;
}

.grid-item {
  padding: 10px;
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
  border-radius: .25em;

  &.error {

    .label,
    .input {
      color: var(--color--danger);
    }

    .input {
      border-color: var(--color--danger);
    }

    .alert-box {
      display: block;
    }
  }
}

.label,
.fake-label {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  font-size: .875em;
  color: #B0BEC5;
}


.input,
.fake-input {
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 1.25em;
  text-align: center;
  color: #78909C;
  background: #fff;
  border: 1px solid #EEEEEE;
  border-radius: .25em;
}

.alert-box {
  display: none;
  margin-top: .625em;
  font-size: .75em;
  color: var(--color--danger);
}

.resultat {
  display: flex;
  justify-content: center;
  align-items: center;

  &.success {
    color: var(--color--success);
    border-color: var(--color--success);
  }
}

@media only screen and (min-width: 768px) {
	.input,
	.fake-input {
		height: 128px;
	}
}

/* Action */

.action {
  width: 300px;
  margin: 0 auto;
  text-align: right;
}

/* Submit */

.btn-submit {
	opacity: .5;
	pointer-events: none;
  color: var(--btn-submit--color);
  background: var(--btn-submit--backgroundColor);
  transition: all .3s;

  &:hover {
    background: var(--btn-submit--backgroundColor--hover);
  }

  &:active {
    background: var(--btn-submit--backgroundColor);
    box-shadow: 0 0 4px rgba(00,00,00,.35);
  }

  &.visible {
    opacity: 1;
	  pointer-events: all;
  }

}

/* Reset */

.btn-reset {
	visibility: hidden;
	color: var(--btn--reset--color);
  background-color: var(--btn--reset--backgroundColor);
  transition: all .3s;

  &:hover {
    color: var(--btn--reset--color--hover);
    background-color: var(--btn--reset--backgroundColor--hover);
  }

  &:active {
    box-shadow: 0 0 4px rgba(00,00,00,0.35);
  }
}

