/* ---------- Footer ---------- */

/* Variablles */

$-c-grey-light: #fff;
$-c-blue: #78909C;
$-c-blue-light: #03A9F4;

/* ---------- Footer ---------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.75em;
  padding-top: 2em;
  margin: 2em auto;
  border-top: 1px solid $-c-grey-light;
  font-size: 1em;
  color: $-c-blue;
  text-align: center;

  a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    transition: color .4s;

    &:hover {
      color: $-c-blue-light;
    }
  }

  [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-heart {
    font-size: .75em;
  }
}