:root {
  --body--color: #78909C;
  --body--backgroundColor: #ECEFF1;
  
  --color--success: #81C784;
  --color--danger:#e57373;

  --btn-submit--color: #ECEFF1;
  --btn-submit--backgroundColor: #607D8B;
  --btn-submit--backgroundColor--hover: #37474F;
  
  --btn--reset--color: #BF360C;
  --btn--reset--backgroundColor: #FFAB91;
  --btn--reset--color--hover: #FBE9E7;
  --btn--reset--backgroundColor--hover: #FF7043;

}

/* Smart reset */

*,*:before,*:after {
  box-sizing:border-box;
}

/**/

body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
  font-size: 100%;
  color: var(--body--color);
  background-color: var(--body--backgroundColor);
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 120%;
	}
}

/* ---------- BTN ---------- */

.btn{  
  display: inline-block; 
  padding: .625em .75em;
  border: none;
  border-radius: .25em;
  cursor: pointer;
  transition: color .4s, background-color .4s;
}

/* Submit */

.btn-submit { 
	opacity: .5;
	pointer-events: none;
  color: var(--btn-submit--color);
  background: var(--btn-submit--backgroundColor);
}

.btn-submit:hover {
  background: var(--btn-submit--backgroundColor--hover);
}

.btn-submit:active {
  background: var(--btn-submit--backgroundColor);
  box-shadow: 0 0 4px rgba(00,00,00,.35);
}

/* Reset */

.btn-reset {
	visibility: hidden;
	color: var(--btn--reset--color);
  background-color: var(--btn--reset--backgroundColor);    
}

.btn-reset:hover {
  color: var(--btn--reset--color--hover);
  background-color: var(--btn--reset--backgroundColor--hover);  
}

.btn-reset:active {
  box-shadow: 0 0 4px rgba(00,00,00,0.35);
}

/* ---------- Content ---------- */

.content__header {
  position: relative;
}

h1 {
  padding: 1.5rem 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 768px) {
	h1 {
		padding: 3rem 0;
	}
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 145px);  
  grid-gap: 10px;
  width: 300px;
  margin: 0 auto 20px auto;
}

.grid-item {  
  padding: 10px;
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
  border-radius: .25em;  
}

.label,
label {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  font-size: .875em;
  color: #B0BEC5;
}
input,
.input {
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 1.25em;
  text-align: center;
  color: #78909C;
  background: #fff;
  border: 1px solid #EEEEEE;
  border-radius: .25em;
}

.grid-item.danger label,
.grid-item.danger input {
  color: var(--color--danger);
}

.grid-item.danger input {
  border-color: var(--color--danger);
}

.alert-box {
  display: none;
  margin-top: .625em;
  font-size: .75em;
  color: var(--color--danger);
}

.grid-item.danger .alert-box {
  display:block;
}

.resultat {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.resultat.success {
  color: var(--color--success);
  border-color: var(--color--success);
}

@media only screen and (min-width: 768px) {
	input,
	.input {
		height: 128px;
	}
}

/* Action */

.action {
  width: 300px;
  margin: 0 auto;
  text-align: right;
}

